<!DOCTYPE html>
<html>
<head>
<title>Chitter</title>
</head>

<body>
      <form action="/chitters" method="post">
        <input type="text" name="peep" placeholder="write your peep">
        <input type="submit" value="Submit" />
      </form>


</body>



</html>
